<% @polls.each do |poll| %>
    <h3><%= link_to "#{poll.title}", poll_path(poll) %></h3>
    <p><b>Body:</b> <%= truncate(poll.body, length: 100) %></p>

    <p><b>Start:</b> <%= poll.start.to_formatted_s(:long_ordinal) %></p>
    <p><b>Finish:</b> <%= poll.finish.to_formatted_s(:long_ordinal) %></p>
    
    <p><b>Poll Type:</b> 
    <% case poll.poll_type %>
      <% when 1 %>
      <span>RadioButtons</span>
      <% when 2 %>
      <span>Multiply CheckBoxes</span>
    <% end %>
    </p>
    <p><b>User:</b> <%= poll.user_id %></p>
    <p><b>Poll ID:</b> <%= poll.id %></p>
    
    <p><b>Options:</b></p>
    <% poll.options.each_with_index do |option, index| %>
      <p>Opt. <%= index + 1 %>: <b><%= option.poll_option %></b>
      <% if poll.status == 3 %>
        <b> &rArr; <span style="color: orange">
        <%= Vote.where(:option_id => option.id).count %>
        </span></b></p>
      <% end %> 
    <% end %>

    <p><b>Poll Status:</b> 
    <% case poll.status %>
      <% when 2 %> 
      <span style="color: orange">Voting will start at <%= poll.start.to_formatted_s(:long_ordinal) %></span>
      <% when 1 %> 
      <span style="color: dodgerblue">Voting is in progress. Open 'til <%= poll.finish.to_formatted_s(:long_ordinal) %></span>
      <% when 3 %>
      <span style="color: red">Voting was closed at <%= poll.finish.to_formatted_s(:long_ordinal) %></span>
    <% end %>
    </p>
    <% if poll.user == current_user %>
      <%= link_to 'Show', poll %> |
      <% if (DateTime.now.to_i - poll.created_at.to_i) < @editing_time %>
        <%= link_to 'Edit', edit_poll_path(poll) %> | 
      <% end %>
      <%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <hr />
  <% end %>

<br>

<% if @polls.size == 0 %>
  <% case action_name %>
    <% when 'index' %>
      <p>There's absolutely no polls. <%= link_to "It's time to create one", new_poll_path %>.</p>
    <% when 'my_index' %>
        <p>You don't have any polls. <%= link_to "It's time to create one", new_poll_path %>.</p>
  <% end %>
<% end %>
<%= button_to "Create New Poll", new_poll_path, method: :get, class: "btn btn-lg btn-primary" %>