<!--p id="notice"><%= notice %></p-->

<h3><%= @poll.title %></h3>
<p><b>Body:</b> <%= @poll.body %></p>
<p><b>Start:</b> <%= @poll.start.to_formatted_s(:long_ordinal) %></p>
<p><b>Finish:</b> <%= @poll.finish.to_formatted_s(:long_ordinal) %></p>
    
<p><b>Poll Type:</b> 
  <% case @poll.poll_type %>
    <% when 1 %>
      <span>RadioButtons</span>
    <% when 2 %>
      <span>Multiply CheckBoxes</span>
  <% end %>
</p>

<p><b>User:</b> <%= @poll.user_id %></p>

<p><b>Poll ID:</b> <%= @poll.id %></p>

<p><b>Options:</b></p>
<% @poll.options.each_with_index do |option, index| %>
  <p>Opt. <%= index + 1 %>: <b><%= option.poll_option %></b>
  <% if @voted || @poll.status == 3 %>
    <b> &rArr; <span style="color: orange">
    <%= Vote.where(:option_id => option.id).count %>
    </span></b></p>
  <% end %> 
<% end %>

<p><b>Poll Status:</b> 
  <% case @poll.status %>
    <% when 2 %> 
      <span style="color: orange">Voting will start at <%= @poll.start.to_formatted_s(:long_ordinal) %></span>
    <% when 1 %> 
      <span style="color: dodgerblue">Voting is in progress. Open 'til <%= @poll.finish.to_formatted_s(:long_ordinal) %></span>
      <% unless @voted %>
        <%= button_to "Vote now!", voting_poll_path(@poll), method: :get, class: "btn btn-primary" %>
      <% else %>
        <p style="color: red"><b>You've already voted for this poll.</b></p>
      <% end %>
    <% when 3 %>
      <span style="color: red">Voting was closed at <%= @poll.finish.to_formatted_s(:long_ordinal) %></span>
  <% end %>
</p>

<% if @poll.user == current_user %>
  <% if (DateTime.now.to_i - @poll.created_at.to_i) < @editing_time %>
    <%= link_to 'Edit', edit_poll_path(@poll) %> | 
  <% end %> 
  <%= link_to 'Destroy', @poll, method: :delete, data: { confirm: 'Are you sure?' } %> | 
  <%= link_to 'All Polls', polls_path %> | 
  <%= link_to 'My Polls', my_polls_path %>
<% end %>
<p></p>
<p align="center"><%= link_to '< Prev. Poll', Poll.where("id < ?", @poll.id).last %>
&nbsp;&nbsp;...&nbsp;&nbsp;&nbsp;<%= link_to 'Next Poll >', Poll.where("id > ?", @poll.id).first %></p>


